@import 'styles/_vars';

.article {
    margin: 0 auto;

    .article-title {
        text-transform: uppercase;
        font-family: $fontQuantum;
        font-weight: lighter;
        font-size: 2.5rem;
        color: $celadonBlueColor;
        text-shadow: 0px 0px 5px $blackColor;
        text-align: center;
        margin-top: 3rem;
    }

    .article-content {
        text-align: justify;
        line-height: 2rem;
        margin: 2rem 4rem;
        color: $lightGreyColor;
    }
}

@media (max-width: 450px) {
    
    .article {
        
        .article-content {
            margin: 2rem;
        }
    }
}