@import 'normalize';
@import '_vars';

html, body, #root {
  height: 100%;
}

body {
  font-family: $fontComfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkGreyColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**********************
* Edite style scrollbar
***********************/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $greyColor;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba($blackColor, 0.5);
  background-color: $celadonBlueColor;
  border-radius: 10px;
}