@import 'styles/_vars';

.error404 {
    display: flex;
    flex-direction: column;
    color: $powerBlueColor;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    
    .error404-title {
        font-size: 4rem;
    }

    .error404-content {
        
        .error404-content-4 {
            font-size: 13rem;
            font-family: $fontQuantum;
            color: $celadonBlueColor;
        }

        .error404-content-image {
            position: relative;
            width: 150px;
            margin: 0 2rem;
            animation: bounce 600ms ease-in infinite alternate;

            @keyframes bounce {
                from {
                    top: -4rem;
                    transform: scaleX(1) scaleY(1);
                }

                to {
                    top: .5rem;
                    transform: scaleX(1.1) scaleY(0.9);
                }
            }
        }
    }

    .error404-message {
        font-size: 2rem;
    }
}

@media (max-width: 442px) {
    
    .error404 {

        .error404-content {

            .error404-content-4 {
                font-size: 7rem;
            }

            .error404-content-image {
                width: 100px;
                margin: 0 1rem;
            }
        }

        .error404-message {
            text-align: center;
            font-size: 1rem;
        }
    }
}